src/main/resources/tariffs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://com.ideaprojects.mno"
           xmlns="http://com.ideaprojects.mno"
           elementFormDefault="qualified">

    <xs:simpleType name="MoneyType">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TariffizationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="12-seconds"/>
            <xs:enumeration value="per-minute"/>
            <xs:enumeration value="per-second"/>
            <xs:enumeration value="free"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="CallPricesType">
        <xs:sequence>
            <xs:element name="insideNetwork" type="MoneyType"/>
            <xs:element name="outsideNetwork" type="MoneyType"/>
            <xs:element name="landline" type="MoneyType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ParameterType">
        <xs:sequence>
            <xs:element name="favoriteNumberCount" type="xs:integer" minOccurs="0"/>
            <xs:element name="tariffization" type="TariffizationType"/>
            <xs:element name="activationFee" type="MoneyType"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="TariffType">
    <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="operatorName" type="xs:string"/>
        <xs:element name="payroll" type="MoneyType"/>
        <xs:element name="callPrices" type="CallPricesType"/>
        <xs:element name="smsPrice" type="MoneyType"/>
        <xs:element name="parameters">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="parameter" type="ParameterType" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:sequence>

        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:element name="Tariff">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tariff" type="TariffType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>